@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@keyframes fade {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

.dark {
  background-size: 250%;
  background-image: linear-gradient(45deg, rgb(9, 17, 34), rgb(71, 33, 33));
  /* animation: fade 30s infinite alternate; */
  color: white;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: auto;
  padding: 0;
  width: max-content;
}

.m-0 {
  margin: 0;
}